.halaman-informasi {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .halaman-informasi .div {
    background-color: #ffffff;
    width: 1366px;
    height: 2839px;
    position: relative;
  }
  
  .halaman-informasi .text-wrapper {
    position: absolute;
    top: 627px;
    left: 1009px;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: #191a23;
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
  }
  
  .halaman-informasi .rectangle {
    position: absolute;
    width: 320px;
    height: 50px;
    top: 669px;
    left: 946px;
    background-color: #191a23;
    border-radius: 14px;
  }
  
  .halaman-informasi .group {
    position: absolute;
    width: 1172px;
    height: 553px;
    top: 1612px;
    left: 100px;
  }
  
  .halaman-informasi .rectangle-2 {
    position: absolute;
    width: 762px;
    height: 440px;
    top: 113px;
    left: 404px;
    border: 1px solid;
    border-color: #191a23;
  }
  
  .halaman-informasi .overlap {
    position: absolute;
    width: 362px;
    height: 440px;
    top: 113px;
    left: 0;
    background-color: #66a3ff;
    border-radius: 14px;
    border: 1px solid;
    border-color: #191a23;
    box-shadow: 0px 5px 0px #191a23;
  }
  
  .halaman-informasi .text-wrapper-2 {
    position: absolute;
    top: 24px;
    left: 38px;
    font-family: var(--h-4-font-family);
    font-weight: var(--h-4-font-weight);
    color: #191a23;
    font-size: var(--h-4-font-size);
    letter-spacing: var(--h-4-letter-spacing);
    line-height: var(--h-4-line-height);
    font-style: var(--h-4-font-style);
  }
  
  .halaman-informasi .text-wrapper-3 {
    top: 24px;
    left: 181px;
    font-family: var(--h-4-font-family);
    font-weight: var(--h-4-font-weight);
    font-size: var(--h-4-font-size);
    position: absolute;
    color: #191a23;
    letter-spacing: var(--h-4-letter-spacing);
    line-height: var(--h-4-line-height);
    font-style: var(--h-4-font-style);
  }
  
  .halaman-informasi .overlap-group {
    position: absolute;
    width: 362px;
    height: 439px;
    top: 1px;
    left: 0;
  }
  
  .halaman-informasi .line {
    width: 1px;
    height: 439px;
    top: 0;
    left: 161px;
    position: absolute;
    object-fit: cover;
  }
  
  .halaman-informasi .img {
    width: 362px;
    height: 1px;
    top: 76px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .halaman-informasi .overlap-group-wrapper {
    position: absolute;
    width: 192px;
    height: 51px;
    top: 0;
    left: 0;
  }
  
  .halaman-informasi .div-wrapper {
    position: relative;
    width: 190px;
    height: 51px;
    background-color: #66a3ff;
    border-radius: 7px;
  }
  
  .halaman-informasi .text-wrapper-4 {
    position: absolute;
    top: 0;
    left: 8px;
    font-family: var(--h-2-font-family);
    font-weight: var(--h-2-font-weight);
    color: #191a23;
    font-size: var(--h-2-font-size);
    text-align: center;
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    font-style: var(--h-2-font-style);
  }
  
  .halaman-informasi .p {
    position: absolute;
    width: 394px;
    top: 2px;
    left: 258px;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: #191a23;
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
  }
  
  .halaman-informasi .group-2 {
    position: absolute;
    width: 189px;
    height: 36px;
    top: 76px;
    left: 100px;
  }
  
  .halaman-informasi .group-3 {
    position: absolute;
    width: 41px;
    height: 36px;
    top: 0;
    left: 0;
  }
  
  .halaman-informasi .vigi-AI {
    position: absolute;
    top: 3px;
    left: 49px;
    font-family: "Ubuntu-Bold", Helvetica;
    font-weight: 700;
    color: #191a23;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .halaman-informasi .text-wrapper-5 {
    position: absolute;
    top: 197px;
    left: 100px;
    font-family: var(--h-1-font-family);
    font-weight: var(--h-1-font-weight);
    color: #191a23;
    font-size: var(--h-1-font-size);
    letter-spacing: var(--h-1-letter-spacing);
    line-height: var(--h-1-line-height);
    font-style: var(--h-1-font-style);
  }
  
  .halaman-informasi .text-wrapper-6 {
    position: absolute;
    top: 294px;
    left: 100px;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: #191a23;
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
  }
  
  .halaman-informasi .text-wrapper-7 {
    position: absolute;
    top: 516px;
    left: 100px;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: #191a23;
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
  }
  
  .halaman-informasi .text-wrapper-8 {
    top: 405px;
    left: 100px;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    font-size: var(--p-font-size);
    position: absolute;
    color: #191a23;
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
  }
  
  .halaman-informasi .text-wrapper-9 {
    position: absolute;
    top: 627px;
    left: 100px;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: #191a23;
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
  }
  
  .halaman-informasi .rectangle-3 {
    position: absolute;
    width: 331px;
    height: 50px;
    top: 336px;
    left: 100px;
    border-radius: 14px;
    border: 1px solid;
    border-color: #191a23;
  }
  
  .halaman-informasi .rectangle-4 {
    position: absolute;
    width: 331px;
    height: 50px;
    top: 558px;
    left: 100px;
    border-radius: 14px;
    border: 1px solid;
    border-color: #191a23;
  }
  
  .halaman-informasi .rectangle-5 {
    position: absolute;
    width: 331px;
    height: 50px;
    top: 447px;
    left: 100px;
    border-radius: 14px;
    border: 1px solid;
    border-color: #191a23;
  }
  
  .halaman-informasi .rectangle-6 {
    position: absolute;
    width: 331px;
    height: 50px;
    top: 669px;
    left: 100px;
    border-radius: 14px;
    border: 1px solid;
    border-color: #191a23;
  }
  
  .halaman-informasi .overlap-2 {
    position: absolute;
    width: 1106px;
    height: 647px;
    top: 814px;
    left: 115px;
  }
  
  .halaman-informasi .group-4 {
    position: absolute;
    width: 1106px;
    height: 647px;
    top: 0;
    left: 0;
  }
  
  .halaman-informasi .group-5 {
    position: absolute;
    width: 192px;
    height: 51px;
    top: 0;
    left: 458px;
  }
  
  .halaman-informasi .text-wrapper-10 {
    position: absolute;
    top: 0;
    left: 19px;
    font-family: var(--h-2-font-family);
    font-weight: var(--h-2-font-weight);
    color: #191a23;
    font-size: var(--h-2-font-size);
    text-align: center;
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    font-style: var(--h-2-font-style);
  }
  
  .halaman-informasi .rectangle-7 {
    position: absolute;
    width: 1106px;
    height: 556px;
    top: 91px;
    left: 0;
    background-color: #f3f3f3;
    border-radius: 45px;
    border: 1px solid;
    border-color: #191a23;
    box-shadow: 0px 5px 0px #191a23;
  }
  
  .halaman-informasi .overlap-wrapper {
    position: absolute;
    width: 192px;
    height: 68px;
    top: 334px;
    left: 444px;
  }
  
  .halaman-informasi .overlap-3 {
    position: relative;
    width: 190px;
    height: 68px;
    border-radius: 14px;
    border: 1px solid;
    border-color: #034a6c;
  }
  
  .halaman-informasi .label {
    position: absolute;
    top: 20px;
    left: 69px;
    font-family: "Space Grotesk-Medium", Helvetica;
    font-weight: 500;
    color: #034a6c;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .halaman-informasi .entypo-upload {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 21px;
    left: 29px;
  }
  
  .halaman-informasi .group-6 {
    position: absolute;
    width: 1255px;
    height: 514px;
    top: 2325px;
    left: 63px;
  }
  
  .halaman-informasi .overlap-4 {
    position: relative;
    width: 1241px;
    height: 514px;
    background-color: #191a23;
    border-radius: 45px 45px 0px 0px;
  }
  
  .halaman-informasi .overlap-5 {
    position: absolute;
    width: 628px;
    height: 185px;
    top: 150px;
    left: 549px;
    background-color: #292a32;
    border-radius: 14px;
  }
  
  .halaman-informasi .overlap-6 {
    position: absolute;
    width: 285px;
    height: 67px;
    top: 59px;
    left: 33px;
    border-radius: 14px;
    border: 1px solid;
    border-color: #ffffff;
  }
  
  .halaman-informasi .text-wrapper-11 {
    position: absolute;
    top: 21px;
    left: 42px;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: #ffffff;
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
  }
  
  .halaman-informasi .label-wrapper {
    position: absolute;
    width: 249px;
    height: 67px;
    top: 59px;
    left: 346px;
    background-color: #66a3ff;
    border-radius: 14px;
  }
  
  .halaman-informasi .label-2 {
    top: 20px;
    left: 75px;
    color: var(--black);
    position: absolute;
    font-family: "Space Grotesk-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .halaman-informasi .text-wrapper-12 {
    position: absolute;
    top: 204px;
    left: 60px;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: #ffffff;
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
  }
  
  .halaman-informasi .text-wrapper-13 {
    position: absolute;
    top: 247px;
    left: 60px;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: #ffffff;
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
  }
  
  .halaman-informasi .address-jebres {
    position: absolute;
    top: 290px;
    left: 60px;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: #ffffff;
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
  }
  
  .halaman-informasi .line-2 {
    width: 1120px;
    height: 1px;
    top: 385px;
    left: 60px;
    position: absolute;
    object-fit: cover;
  }
  
  .halaman-informasi .text-wrapper-14 {
    position: absolute;
    top: 436px;
    left: 60px;
    font-family: "Space Grotesk-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .halaman-informasi .group-7 {
    position: absolute;
    width: 128px;
    height: 26px;
    top: 151px;
    left: 60px;
  }
  
  .halaman-informasi .overlap-group-2 {
    position: relative;
    width: 126px;
    height: 26px;
    background-color: #66a3ff;
    border-radius: 7px;
  }
  
  .halaman-informasi .text-wrapper-15 {
    position: absolute;
    top: 0;
    left: 7px;
    font-family: "Space Grotesk-Medium", Helvetica;
    font-weight: 500;
    color: #191a23;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .halaman-informasi .group-8 {
    position: absolute;
    width: 41px;
    height: 36px;
    top: 52px;
    left: 60px;
  }
  
  .halaman-informasi .vigi-AI-2 {
    position: absolute;
    top: 55px;
    left: 109px;
    font-family: "Ubuntu-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .halaman-informasi .social-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 51px;
    left: 1050px;
    background-color: #ffffff;
    border-radius: 15px;
  }
  
  .halaman-informasi .linkedin {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 7px;
    left: 8px;
  }
  
  .halaman-informasi .social-icon-2 {
    left: 1100px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 51px;
  }
  
  .halaman-informasi .twitter-wrapper {
    left: 1150px;
    background-color: #ffffff;
    border-radius: 15px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 51px;
  }
  
  .halaman-informasi .twitter {
    position: absolute;
    width: 18px;
    height: 14px;
    top: 8px;
    left: 6px;
  }
  
  .halaman-informasi .group-9 {
    position: absolute;
    width: 554px;
    height: 420px;
    top: 198px;
    left: 714px;
  }
  
  .halaman-informasi .overlap-7 {
    position: relative;
    width: 550px;
    height: 411px;
  }
  
  .halaman-informasi .overlap-8 {
    position: absolute;
    width: 550px;
    height: 366px;
    top: 45px;
    left: 0;
  }
  
  .halaman-informasi .label-3 {
    width: 69px;
    top: 277px;
    left: 316px;
    color: #ffffff;
    position: absolute;
    font-family: "Space Grotesk-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .halaman-informasi .ellipse {
    position: absolute;
    width: 529px;
    height: 78px;
    top: 179px;
    left: 0;
    border-radius: 264.5px/39px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .halaman-informasi .ellipse-2 {
    position: absolute;
    width: 529px;
    height: 78px;
    top: 207px;
    left: 0;
    border-radius: 264.5px/39px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .halaman-informasi .ellipse-3 {
    position: absolute;
    width: 529px;
    height: 78px;
    top: 234px;
    left: 0;
    border-radius: 264.5px/39px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .halaman-informasi .star {
    position: absolute;
    width: 219px;
    height: 230px;
    top: 0;
    left: 313px;
  }
  
  .halaman-informasi .star-2 {
    position: absolute;
    width: 175px;
    height: 171px;
    top: 195px;
    left: 374px;
  }
  
  .halaman-informasi .group-10 {
    position: absolute;
    width: 137px;
    height: 137px;
    top: 10px;
    left: 59px;
    background-color: #000000;
    border-radius: 68.72px;
  }
  
  .halaman-informasi .ellipse-4 {
    position: absolute;
    width: 22px;
    height: 44px;
    top: 32px;
    left: 35px;
    background-color: #ffffff;
    border-radius: 10.99px/21.99px;
  }
  
  .halaman-informasi .ellipse-5 {
    position: absolute;
    width: 22px;
    height: 44px;
    top: 32px;
    left: 80px;
    background-color: #ffffff;
    border-radius: 10.99px/21.99px;
  }
  
  .halaman-informasi .group-11 {
    position: absolute;
    width: 291px;
    height: 239px;
    top: 70px;
    left: 162px;
  }
  
  .halaman-informasi .group-12 {
    position: absolute;
    width: 71px;
    height: 79px;
    top: 0;
    left: 235px;
  }
  