.halaman-login {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .halaman-login .div {
    background-color: #ffffff;
    width: 1366px;
    height: 800px;
    position: relative;
  }
  
  .halaman-login .group {
    position: absolute;
    width: 335px;
    height: 224px;
    top: 288px;
    left: 156px;
  }
  
  .halaman-login .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: #191a23;
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
  }
  
  .halaman-login .text-wrapper-2 {
    position: absolute;
    top: 133px;
    left: 0;
    font-family: var(--p-font-family);
    font-weight: var(--p-font-weight);
    color: #191a23;
    font-size: var(--p-font-size);
    letter-spacing: var(--p-letter-spacing);
    line-height: var(--p-line-height);
    font-style: var(--p-font-style);
  }
  
  .halaman-login .rectangle {
    top: 41px;
    position: absolute;
    width: 331px;
    height: 50px;
    left: 0;
    border-radius: 14px;
    border: 1px solid;
    border-color: #191a23;
  }
  
  .halaman-login .rectangle-2 {
    top: 174px;
    position: absolute;
    width: 331px;
    height: 50px;
    left: 0;
    border-radius: 14px;
    border: 1px solid;
    border-color: #191a23;
  }
  
  .halaman-login .overlap-group-wrapper {
    position: absolute;
    width: 135px;
    height: 68px;
    top: 575px;
    left: 1133px;
  }
  
  .halaman-login .overlap-group {
    position: relative;
    width: 133px;
    height: 68px;
    background-color: #191a23;
    border-radius: 14px;
  }
  
  .halaman-login .label {
    position: absolute;
    top: 20px;
    left: 36px;
    font-family: "Space Grotesk-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .halaman-login .group-2 {
    position: absolute;
    width: 189px;
    height: 36px;
    top: 76px;
    left: 100px;
  }
  
  .halaman-login .img {
    position: absolute;
    width: 41px;
    height: 36px;
    top: 0;
    left: 0;
  }
  
  .halaman-login .vigi-AI {
    position: absolute;
    top: 3px;
    left: 49px;
    font-family: "Ubuntu-Bold", Helvetica;
    font-weight: 700;
    color: #191a23;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .halaman-login .group-wrapper {
    position: absolute;
    width: 607px;
    height: 51px;
    top: 198px;
    left: 156px;
  }
  
  .halaman-login .div-wrapper {
    width: 609px;
    height: 51px;
  }
  
  .halaman-login .overlap-group-2 {
    position: relative;
    width: 607px;
    height: 51px;
    background-color: #66a3ff;
    border-radius: 7px;
    margin-top: -50px;
  }
  
  .halaman-login .p {
    top: 0;
    left: 11px;
    font-family: var(--h-2-font-family);
    font-weight: var(--h-2-font-weight);
    color: #191a23;
    font-size: var(--h-2-font-size);
    text-align: center;
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
    font-style: var(--h-2-font-style);
  }
  
  .halaman-login .group-3 {
    position: absolute;
    width: 365px;
    height: 275px;
    top: 257px;
    left: 901px;
  }
  